[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
pillow = "*"
django-hitcount = "*"
django-modeltranslation = "*"
python-decouple = "*"
whitenoise = "*"
python-gettext = "*"

[dev-packages]

[requires]
python_version = "3.9"
