{% extends 'news/base.html' %}
{% load static %}

{% block title %}Foydalanuvchi parolini tiklash{% endblock title %}

{% block content %}
    <h1>Parolni tiklash</h1>
<p>Parolingizni o'zgartirish uchun, quyidagi formani to'ldiring</p>
    {% if validlink %}

        <p>Iltimos yangi parolni ikki marotaba kiriting</p>
        <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit">Parolni almashtirish</button> </p>
        </form>
    {% else %}
        <p>Siz notog'ri linkdan foydalandingiz, u avvalroq foydalangan bo'lishi va ishlatilish vaqti o'tib ketgan bo'lishi mumkin</p>
    {% endif %}


{% endblock content %}