{% extends 'news/base.html' %}

{% block title %} Admin sahifasi {% endblock title %}

{% block content %}
<h1>Admin sahifasi</h1>
<h3>Barcha adminlar</h3>
 <table class="table table-bordered table-responsive table-striped">
 <tr>
     <th>Username</th>
     <th>Ismi</th>
     <th>Familiyasi</th>
 </tr>
     {% for user in admin_users %}
 <tr>
     <td>{{ user.username}}</td>
      <td>{{ user.first_name}}</td>
     <td>{{ user.last_name}}</td>
 </tr>
 {% endfor %}
 </table>
    <h2>
        <a href="{% url 'news_create' %}"  class="text-primary">
            +Yangilik qo'shish
        </a>
    </h2>

{% endblock content %}

