{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %} {{ news.title }} {% endblock title %}

{% block content %}

     <h2>{{ news.title }}</h2>
    <h5>{{ news.publish_time }} | <i class="fa fa-eye" aria-hidden="true"></i>
        {% get_hit_count for news %} | Izohlar soni: {{ comment_count }}</h5>

    <img src="{{ news.image.url }}">
    <p>{{ news.body }}</p>

    {% if request.user.is_authenticated and request.user.is_superuser%}
<div class="card-footer text-center">
<a href="{% url 'news_update' news.slug %}">Tahrirlash</a> |
<a href="{% url 'news_delete' news.slug %}">O'chirish</a> |
</div>
    {% endif %} <br>
<h3>Bu yangilikka {{ comment_count }} ta izoh qoldirilgan</h3>
{% for comment in comments %}

    <div class="comments" style="padding: 10px">
    <p class="font-weight-bold">
        {{ comment.user }}
    <span class="text-muted font-weight-normal">
        {{ comment.created_time }}
    </span>
    </p>
    {{ comment.body | linebreaks }}
    </div>
{% endfor %}

    {% if user.is_authenticated %}
    <div class="col-md-8 card mb-4 mt-3">
     <div class="card-body">
         <h3>Izoh qoldirish</h3>
         <form method="POST" style="margin-top: 1.3em">{% csrf_token %}
             {{ comment_form.as_p }}
             <button type="submit" class="btn btn-primary btn-lg">
                 Yuborish
             </button>
         </form>
     </div>
    </div>
    {% else %}
    <div class="card-body">
    <p class="text-danger">Faqatgina ro'yhatdan o'tgan foydalanuvchilar izoh qoldirishi mumkin</p>
    <p>Izoh qoldirish uchun
        <a href="{% url 'user_register' %}">ro'yhatdan o'ting </a>
        yoki <a href="{% url 'login' %}">Saytga kiring</a>
    </p>
    </div>
    {% endif %}

{% endblock %}